@using Pages

<div class="@AppClass.FadeIn loading-overlay">
    <div class="text-center">
        @* <img class="mb-4" src="https://blazor.radzen.com/images/community.svg" style="width: 200px"> *@
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
        <div>
            <b>Loading, please wait...</b>
        </div>
    </div>
</div>