<div class="@AppClass.FadeIn loading-overlay">
    <div class="text-center">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
        <div>
            <b>Loading, please wait...</b>
        </div>
    </div>
</div>